<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkV_brfKNNO9_PqqYWC1_iZsIhhyOkxcc</string>
	<key>GCM_SENDER_ID</key>
	<string>833635829850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiapp.flowcent.FlowCent</string>
	<key>PROJECT_ID</key>
	<string>flowcent-2a41e</string>
	<key>STORAGE_BUCKET</key>
	<string>flowcent-2a41e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833635829850:ios:2008167d43519eca00b063</string>
</dict>
</plist>