<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161046411397-fr6m6cfpd5dqn41ij5h6cgjkro0ih4dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161046411397-fr6m6cfpd5dqn41ij5h6cgjkro0ih4dk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>161046411397-vd8krjgda99ipf2v6dgts1k2n9dok6l5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7lfqf51glfzVubWE0goxUGaLo3QNr4mY</string>
	<key>GCM_SENDER_ID</key>
	<string>161046411397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiapp.flowcent.FlowCent</string>
	<key>PROJECT_ID</key>
	<string>flowcent-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flowcent-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161046411397:ios:b20b3be8e9ec5ea66311ec</string>
</dict>
</plist>